{% extends "common/layouts/wide_list" %}

{% block list_title %}蔵書一覧{% endblock %}

{% block list_actions %}
    <p>本を登録</p>
{% endblock %}

{% block list_content %}
    <table class="table table-hover bg-white shadow-sm rounded">
        <thead class="table-light">
            <tr>
                <th>タイトル</th>
                <th>著者</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td><span class="badge bg-success">貸出可</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}