{% extends "books/base.html" %}
{% block content %}

<div style="background: yellow; color: black;">
  debug: list_url is "{{ list_url }}" <br>
  debug: url_header is "{{ url_header }}"
</div>


<h2>{{ book.biblio.title }}</h2>

<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>利用可否</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{book.biblio.title}}</td>
            <td>{{book.biblio.author}}</td>
            <td>{{book.is_available|yesno:"貸出可,貸出中" }}</td>
        </tr>
    </tbody>
</table>

{% if user.is_staff %}
    <div>
        <a href="{% url "books:book_update" book.pk %}" class="btn btn-primary">
            編集する
        </a>
        <a href="{% url "books:book_delete" book.pk %}" class="btn btn-outline-danger">
            削除
        </a>
    </div>
{% endif %}

{% if request.GET.q %}
    <a href="{% url "books:booklist" %}?q={{ request.GET.q}}">検索結果に戻る</a>
{% else %}
    <a href="{% url "books:booklist" %}">書籍一覧に戻る</a>
{% endif %}


{% endblock %}