{% extends "books/base.html" %}
{% block content %}

<form method="GET" action="">
<input type="text" name="q"value="{{ query }}"
placeholder="タイトル、著者名、ISBNから検索">
<button type="submit">検索</button>
</form>


<h2>{{page_title}}</h2>

<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>利用可否</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="{{ book.get_absolute_url }}?q={{ request.GET.q}}">
                {{book.biblio.title}}</a></td>
            <td>{{book.biblio.author}}</td>
            <td>{{book.is_available|yesno:"貸出可,貸出中" }}</td>
            {% if user.is_staff %}
                <td>
                    <a href="{% url "books:book_update" book.pk %}" class="btn btn-primary">
                        編集する
                    </a>
                    <a href="{% url "books:book_delete" book.pk %}" class="btn btn-outline-danger">
                        削除
                    </a>
                </td>
            {% endif %}
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock content %}