
{% extends "books/base.html" %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-light d-flex justify-content-between align-items-center ">
            <h4 class="mb-0 text-primary">{{ page_title }}</h4>   
            {% if list_url %}
                <a href="{% url list_url %}" class="btn btn-sm btn-outline-secondary">
                一覧に戻る
                </a>
            {% endif %}
        </div>

        <div class="card-body">
            <table class="table table-hover mt-2">
                <tbody>
                    {% for label, value in field_data %}
                        <tr>
                            <th class="w-25 fw-bold text-secondary">{{ label }}</th>

                            <td>{{ value|linebreaksbr}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer bg-white d-flex gap-2">
            {% if edit_url and user.is_staff %}
                <a href="{% url edit_url object.pk %}" class="btn btn-primary">
                    <i class="bi bi-pencil" aria-hidden="true"></i> 編集する
                </a>
            {% endif %}
            
            {% if delete_url and user.is_staff %}
                <a href="{% url delete_url object.pk %}" class="btn btn-outline-danger">
                    <i class="bi bi-trash" aria-hidden="true"></i> 削除
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}